/* line 17, ../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media (max-width: 610px) {
  /* line 8, ../sass/partials/_nav.scss */
  nav.extended {
    display: none;
  }

  /* line 12, ../sass/partials/_nav.scss */
  nav.collapse {
    display: block;
  }
}
/* line 18, ../sass/partials/_nav.scss */
nav.extended {
  float: right;
  width: 55%;
  color: white;
}
/* line 23, ../sass/partials/_nav.scss */
nav.extended ul {
  width: 100%;
  text-align: justify;
  margin: 0px auto;
}
/* line 29, ../sass/partials/_nav.scss */
nav.extended li {
  display: inline-block;
  height: 58px;
  padding: 42px 10px 0px 10px;
  text-align: center;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  letter-spacing: 3;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
}
/* line 42, ../sass/partials/_nav.scss */
nav.extended li:hover {
  color: #bc522a;
  -webkit-transition: -color 0.4s;
  -moz-transition: -color 0.4s;
  -o-transition: -color 0.4s;
}
/* line 49, ../sass/partials/_nav.scss */
nav.extended li.spacer {
  width: 100%;
  font-size: 0px;
  opacity: 0;
}

/* line 56, ../sass/partials/_nav.scss */
nav.collapse {
  display: none;
  float: right;
  width: 60px;
  height: auto;
  background-color: #333132;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  padding: 5px 0;
  margin-top: 7px;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
}
/* line 71, ../sass/partials/_nav.scss */
nav.collapse div {
  background-color: #FFFFFF;
  height: 4px;
  margin: 5px auto;
  width: 70%;
}

/* line 79, ../sass/partials/_nav.scss */
nav.collapse:hover {
  background-color: #bc522a;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
}

@media (max-width: 700px) {
  /* line 8, ../sass/partials/_projects.scss */
  #projects li {
    width: 49%;
    padding-top: 49%;
    margin-bottom: 2.3%;
  }
}
@media (max-width: 610px) {
  /* line 17, ../sass/partials/_projects.scss */
  #projects li {
    width: 49%;
    padding-top: 49%;
    margin-bottom: 2.3%;
  }
}
/* line 24, ../sass/partials/_projects.scss */
#projects {
  text-align: justify;
  font-size: 0em;
  /*hide whitespace between elements*/
  margin: 0 auto;
  padding-top: 150px;
}
/* line 30, ../sass/partials/_projects.scss */
#projects li {
  display: inline-block;
  width: 32%;
  opacity: 1;
  padding-top: 32%;
  margin-bottom: 1.3%;
  font-size: 1rem;
  position: relative;
  border-radius: 4px;
}
/* line 41, ../sass/partials/_projects.scss */
#projects li:hover {
  opacity: .2;
}

/* line 46, ../sass/partials/_projects.scss */
#projects:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 52, ../sass/partials/_projects.scss */
.text {
  display: none;
  position: relative;
  color: red;
  text-align: left;
  padding: 1.5em;
  width: 70%;
  height: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 65, ../sass/partials/_projects.scss */
.text h3 {
  font-family: 'aleolight', sans-serif;
  font-size: 1.6em;
  line-height: 1.2em;
}
/* line 71, ../sass/partials/_projects.scss */
.text p {
  font-family: Helvetica;
  font-size: .7em;
  line-height: 1.5em;
  letter-spacing: 1;
}

/* PROJECTS ----------------------------------- INDIVIDUALS */
/* line 81, ../sass/partials/_projects.scss */
.sms {
  background: url("../img/sms-sprite.jpg");
  background-size: 100%;
}

/* line 86, ../sass/partials/_projects.scss */
.concrete-canvas {
  background: url("../img/boards-thumb.jpg");
  background-size: 100%;
}

/* ----------------------------------- */
/* line 93, ../sass/partials/_projects.scss */
.clear {
  width: 100%;
  font-size: 0em;
  display: inline-block;
}

/* line 6, ../sass/partials/_about.scss */
.about {
  width: 100%;
  height: 300px;
  background-color: #333132;
  margin-top: 30px;
  color: white;
  font-size: .8em;
  font-family: Helvetica, sans-serif;
  line-height: 1.5em;
  font-weight: 100;
  padding: 40px 0px;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
}

/* line 21, ../sass/partials/_about.scss */
.about:hover {
  background-color: #bc522a;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
}

/* line 28, ../sass/partials/_about.scss */
.about h3 {
  font-size: 3em;
  font-family: 'aleolight', sans-serif;
  line-height: 2em;
}

/* line 34, ../sass/partials/_about.scss */
.about img {
  margin-right: 5%;
  width: 20%;
  float: left;
  clear: both;
}

/* line 40, ../sass/partials/_about.scss */
.description-about {
  float: left;
  width: 75%;
}

/* line 11, ../sass/screen.scss */
body {
  font-family: Helvetica, sans-serif;
}

/* line 14, ../sass/screen.scss */
.wrapper {
  max-width: 900px;
  width: 96%;
  margin: 0 auto;
}

/* line 19, ../sass/screen.scss */
header {
  background-color: #333132;
  margin-bottom: 2em;
  width: 100%;
  opacity: .95;
  height: 100px;
  position: fixed;
  z-index: 1;
}

/* line 29, ../sass/screen.scss */
.container {
  max-width: 900;
  width: 96%;
  margin: 0 auto;
}

/* line 35, ../sass/screen.scss */
.logo {
  margin-top: 18px;
  float: left;
  width: 180px;
  height: 59px;
  background: url(../img/logo-hover.png) no-repeat top left;
}

/* line 54, ../sass/screen.scss */
div, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
